section#content {
  .post {
    border: solid #428bca;
    padding: 7px;
    background-color: #e4eeff;
  }

  #post_operation {
    ul {
      margin-block-start: 0;
      padding-inline-start: 0;

      li {
        margin: 3px;
        padding: 3px;
        display: inline-block;
        list-style: none;
      }
    }
  }

  .posts {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    article {
      border: solid #428bca;
      margin: 7px;
      padding: 3px;
      min-width: 150px;
      max-width: 200px;
    }
  }
}
