a[target="_blank"]:after {
  font-weight: 600;
  content: "⇗";
  margin-left: 3px;
}

header {
  margin-top: 7px;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  display: flex;

  #header-logo {
    margin: 7px;
    padding: 3px;
    width: 100px;
    font-family: Lobster, "Meiryo UI", sans-serif;
  }

  nav {
    width: 600px;

    ul {
      flex: fit-content;
      text-align: right;
      margin-right: 0;

      li {
        margin: 7px;
        padding: 3px;
        flex-wrap: wrap;
        display: inline-block;
        font-size: large;
        list-style: none;
      }
    }
  }
}

section#content {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

footer {
  margin-right: auto;
  margin-left: auto;
  max-width: 700px;

  #copyright {
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
  }
}