<header>
    <h4 id="header-logo"><a href="/">aohno Blog</a></h4>
    <nav>
        <ul>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'post_new' %}" class="top-menu">
                    <span class="glyphicon glyphicon-plus"></span>
                </a></li>
                <li><a href="{% url 'post_draft_list' %}" class="top-menu">
                    <span class="glyphicon glyphicon-edit"></span>
                </a></li>
            {% endif %}
            <li><a href="https://github.com/hrnmrnmh/studyDjango">github</a></li>
        </ul>
    </nav>
</header>